body {
  background: #0d1117;
  color: #e6edf3;
  font-family: 'Segoe UI', sans-serif;
  scroll-behavior: smooth;
}

.navbar {
  background: rgba(0,0,0,0.7);
  backdrop-filter: blur(10px);
}

.nav-link:hover {
  color: #58a6ff !important;
  text-shadow: 0 0 10px #58a6ff;
}

.ram-container {
  text-align: center;
  margin-top: 60px;
}

.hero {
  background: linear-gradient(135deg, #0a0f14, #111b27);
  padding: 190px 20px;
  background-attachment: fixed;
}

.profile-img {
  width: 150px;
  border-radius: 50%;
  box-shadow: 0 0 20px #58a6ff;
  animation: fadeIn 2s ease-in-out;
}


.btn-primary {
  background: #238636;
  border: none;
  font-weight: bold;
  transition: 0.3s;
}

.btn-primary:hover {
  background: #2ea043;
  box-shadow: 0 0 10px #2ea043;
}

.qr-code {
  width: 220px;
  margin-top: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 0.4s ease, transform 0.4s ease;
  filter: drop-shadow(0 4px 8px rgba(0,0,0,0.4));
}
.qr-trigger:hover + a .qr-code {
  opacity: 1;
  transform: scale(1.05);
}

.qr-trigger {
  font-size: 3rem;
  font-weight: bold;
  cursor: pointer;
  transition: color 0.3s ease;
}
.qr-trigger:hover {
  color: #0d6efd;
}

.project-card {
  background: #161b22;
  border: 1px solid #30363d;
  color: white;
  transform-style: preserve-3d;
  transition: transform 0.5s;
}

.project-card:hover {
  transform: rotateY(10deg);
  box-shadow: 0 0 20px rgba(88,166,255,0.4);
}

.skill-box {
  perspective: 1000px;
}

.flip-card {
  background: transparent;
  width: 100%;
  height: 120px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  border-radius: 10px;
  background: #161b22;
  border: 1px solid #30363d;
}

.flip-card-back {
  transform: rotateY(180deg);
  color: #58a6ff;
}

.footer {
  background: #0a0f14;
  color: #8b949e;
  border-top: 1px solid #30363d;
}


.skill-card {
  background: #161b22;
  border: 1px solid #30363d;
  border-radius: 10px;
  padding: 20px;
  padding-bottom: 50px;
  transition: 0.4s ease;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.skill-card:hover {
  box-shadow: 0 0 15px #58a6ff;
  transform: translateY(-6px);
}

.skill-icon {
  font-size: 2rem;
  color: #58a6ff;
  margin-bottom: 10px;
}

.skill-level {
  position: absolute;
  bottom: -30px;
  left: 0;
  width: 100%;
  background: #0d1117;
  color: #58a6ff;
  font-weight: bold;
  padding: 10px;
  transition: bottom 0.4s ease;
}

.skill-card:hover .skill-level {
  bottom: 0;
}

